# Sensitive files
**/instructions.json
**/secrets.json
**/private_configs.json
**/scripts/modules/premium/

# Dependencies
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Python
scripts/**/__pycache__/
scripts/**/*.py[cod]
scripts/**/$py.class
scripts/**/*.so
scripts/**/.Python
scripts/**/build/
scripts/**/develop-eggs/
scripts/**/dist/
scripts/**/downloads/
scripts/**/eggs/
scripts/**/.eggs/
scripts/**/lib/
scripts/**/lib64/
scripts/**/parts/
scripts/**/sdist/
scripts/**/var/
scripts/**/wheels/
scripts/**/*.egg-info/
scripts/**/.installed.cfg
scripts/**/*.egg
scripts/**/MANIFEST

# Virtual environments
scripts/**/myenv/
scripts/**/venv/
scripts/**/env/
scripts/**/ENV/

# IDE
**/.vscode/
**/.idea/
**/*.swp
**/*.swo
**/*~

# OS
**/.DS_Store
**/.DS_Store?
**/.Spotlight-V100
**/.Trashes
**/ehthumbs.db
**/Thumbs.db

# Logs
**/logs/
**/*.log

# Runtime data
**/pids/
**/*.pid
**/*.seed
**/*.pid.lock

# Coverage directory used by tools like istanbul
**/coverage/

# nyc test coverage
**/.nyc_output

# Dependency directories
**/jspm_packages/

# Optional npm cache directory
**/.npm

# Optional REPL history
**/.node_repl_history

# Output of 'npm pack'
**/*.tgz

# Yarn Integrity file
**/.yarn-integrity

# dotenv environment variables file
**/.env
**/.env.test
**/.env.local
**/.env.production
**/.env.local
**/.env.*.local


# Temporary files
**/tmp

# Git
**/.git/
**/.gitignore

# Documentation
**/*.md

# Demo files
demo/
